/zotop/data/install.lock
/zotop/runtime/backup
/zotop/runtime/block
/zotop/runtime/caches
/zotop/runtime/session
/zotop/runtime/temp
/zotop/runtime/templates
/zotop/runtime/config.php
/zotop/runtime/global.php
/zotop/runtime/preload.php
/zotop/apps/case
/zotop/apps/shop
/zotop/apps/solution
/zotop/apps/test
/zotop/apps/database
/zotop/config
/uploads

*.tmp
/zotop/data/zotop.db3
