/*!
 * zotop global v2.3.5 (http://zotop.com)
 * Copyright 2008-2015 zotop team.
 */

/*覆盖bootstrap 默认样式*/
.text-success{color:#449d44;}
.text-error{color:#f00;}

.page-header{margin:0;border:0 none;}
.page-body{background: #fff;border: solid 1px #ebebeb;border-radius: 5px;padding:20px;margin-bottom: 20px;}

.navbar-inverse{
	background:#0072C6;
	border-color:#0064ae;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    transition: all 0.2s ease-out 0s;
}
.navbar-inverse .navbar-nav>li>a:hover{
	background-color: #0064ae;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #00BCF2;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #0064ae;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #00BCF2;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #0072C6;
}

.navbar-nav>li>.dropdown-menu{
	border:solid 2px #0064ae;
	border-top:0 none;
}
.navbar-nav .dropdown-menu > li > a:hover {
   background-color: #0064ae;
   color: #fff;
}

.panel{margin-bottom:10px;}


.navbar-default{background: #fff;}

.navbar-logo{
	padding-left:50px;
	background:url(../image/logo.png) no-repeat left center;
}

.breadcrumb{margin:0;}

.carousel-indicators{bottom:0;}
.carousel-control.left,.carousel-control.right{background: transparent;}
@media screen and (min-width: 768px){
	.carousel-indicators{bottom:0;}
}
.carousel-control .icon-prev, .carousel-control .icon-next{
	font-size: 80px;color: #fff;margin-top: -60px;
}

.list-group{
	box-shadow: 0 1px 1px #dcdcdc;
}
.list-group-item{
	border: 1px solid #e6e6e6;
}

.media{
	background: #fff;
	padding: 10px;
	border:1px solid #e6e6e6;
	box-shadow: 0 1px 1px #dcdcdc;
	border-radius: 4px;
	margin-top: 8px;
}
.media-left img{width: 100px;}
.media-heading{font-size:16px;height: 50px;line-height:150%;overflow: hidden;}


.thumbnail{margin-bottom: 10px;}
.thumbnail img{width: 100%;}

.pagination>li>a, .pagination>li>span {
	color: #0064ae;
	background-color: #fff;
	border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #0064ae;
	border-color: #0064ae;
}

.input-group-addon button{
	border:0 none;background-color: transparent;padding: 0;font-size: 15px;outline: 0 none;
}


@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	    background-color: #0072C6;
	}	
	.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
	    color: #fff;
	}	
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	    color: #fff;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
		background-color: #0064ae;
	}
}

@media (min-width: 768px) {
	
	/*小屏幕上点击显示菜单，大屏幕鼠标放菜单上自动弹出*/
	.dropdown.hover>.dropdown-menu,.dropdown:hover>.dropdown-menu {
	    display: block;
	}
	
	/*导航部分下拉菜单增加三角箭头*/
	.navbar .nav>li>.dropdown-menu:before {
	    position: absolute;
	    top: -7px;
	    left: 19px;
	    display: inline-block;
	    border-right: 7px solid transparent;
	    border-bottom: 7px solid #ccc;
	    border-left: 7px solid transparent;
	    border-bottom-color: rgba(0,0,0,0.2);
	    content: '';
	}

	.navbar .nav>li>.dropdown-menu:after {
	    position: absolute;
	    top: -6px;
	    left: 20px;
	    display: inline-block;
	    border-right: 6px solid transparent;
	    border-bottom: 6px solid #fff;
	    border-left: 6px solid transparent;
	    content: '';
	}
}

.navbar-toggle{
	border:0 none;
}

.navbar-toggle .icon-bar{
	width:18px;
}

/*导航区增加额外按钮*/
.navbar-button{
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 5px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 0 none;
	border-radius: 4px;
	font-size: 14px;
	line-height: 22px;
	text-decoration: none;
}
.navbar-button:hover, .navbar-button:focus{
	text-decoration: none;
}
.navbar-inverse .navbar-button{
	color: #fff;
}
.navbar-inverse .navbar-button:hover, .navbar-inverse .navbar-button:focus {
	background-color: #00BCF2;
	color: #fff;
}

/*导航搜索样式*/
.navbar-form .form-control,.navbar-form .form-control:focus{
	border-right:0;box-shadow: none;border-color:#fff;
}
.navbar-form .input-group-addon{
	border-color:#fff;
	background: #fff;
	color:#00BCF2;
	cursor: pointer;
	transition: all 0.2s ease-out 0s;
}
.navbar-form .input-group-addon:hover{
	background:#00BCF2;color:#fff;
}

.text-overflow{display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;box-sizing:border-box;}

.navbar-default .navbar-form{
	border: 0;
	padding: 0 15px;
}

.navbar-default  .navbar-header{
	margin-top:16px;
}

.jumbotron{
	color: #fff;
	background: #0072C6;
	margin-bottom: 0;
}

.jumbotron p{
	margin-top:30px;
	line-height: 30px;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td{
	border-bottom-width: 1px;
	background: #f2f4f5;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
	padding:12px 8px;
}

/*导航条样式*/
::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece{background:-webkit-gradient(linear,left);width:9px;height:9px;}
::-webkit-scrollbar-thumb{border-width:0 1px;border-style:solid;border-color:#fefefe;border-radius:4px;background:#d9d9d9;}
::-webkit-scrollbar-thumb:horizontal{border-width:1px 0;border-style:solid;border-color:#fefefe;border-radius:4px;background:#d9d9d9;}
::-webkit-scrollbar-thumb:hover{background:#bdbdbd;}
::-webkit-scrollbar-thumb:active{background:#8e8e8e;}

/*checkbox radio*/
input[type=checkbox],input[type=radio]{border:1px solid #bbb;border:0 none\0;background:#fff;color:#555;clear:none;cursor:pointer;display:inline-block;line-height:0;height:15px;width:15px;min-width:15px;margin:-3px 3px 0 0;outline:0;padding:0!important;text-align:center;vertical-align:middle;-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-webkit-transition:.05s border-color ease-in-out;transition:.05s border-color ease-in-out}
input[type=radio]:checked+label:before{color:#888}
input[type=radio]{-webkit-border-radius:50%;border-radius:50%;margin-2px 2px 0 0;line-height:10px}
input[type=checkbox]:checked:before,input[type=radio]:checked:before{float:left;display:inline-block;vertical-align:middle;width:16px;font:normal 12px/1 FontAwesome;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
input[type=checkbox]:checked:before{content:'\f00c';margin:1px 0 0 -1px;color:#00bcf2}
input[type=radio]:checked:before{content:'\2022';text-indent:-9999px;-webkit-border-radius:50px;border-radius:50px;font-size:22px;width:7px;height:7px;margin:3px;line-height:18px;background-color:#00bcf2}
input[type=checkbox].disabled:before,input[type=radio].disabled:before{color:#999;}


/*自定义样式*/
body {
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	font-size: 14px;
	line-height: 150%;
	padding-top: 51px;
	padding-bottom: 51px;
	background-color: #f2f4f5;
}

table{background: #fff;border-radius: 5px;}


.notsupport{position:absolute;top:0;z-index:99999;width:100%;height:100%;text-align:center;clear:both;}
.notsupport h1{font-size:24px;font-weight:400;margin-top:200px;line-height:40px;}
.notsupport a,.notsupport a:hover{background:#0CF;color:#fff;margin:0 5px;padding:0 12px;white-space:nowrap;}

.blank{zoom:1;clear:both;display:block;height:15px;overflow:hidden;}
.new{font-size: 12px;color: #f00;}
.placeholder {color:gray;}
.scrollable{overflow:auto;outline:none;}
.middle{display:table-cell;vertical-align: middle;}

.va-m{vertical-align: middle;}


b.required{font-size: 12px;color: #f00;margin-left: 5px;}
label.error{font-size: 12px;margin-top: 5px;}


.global-body{
	position: absolute;
	top:50px;
	bottom: 50px;
	left:0;
	right: 0;
}


.masthead{
	height: 100%;
	position: relative;
	color: #fff;
	background: #0072C6;
	height: 100%;	
}

.masthead .masthead-body{
	height:280px;
	margin:auto;
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;	
}

.masthead h1{
	font-size: 100px;
	margin-bottom: 30px;
}

.masthead h2{
	font-size: 30px;
	font-weight: 200;
	line-height: 1.25;	
}

.masthead p{
	margin-top: 50px;
}

/*页面底部样式*/
.footer{
	color: #777;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
	margin-top: 70px;
	background-color: #fff;
}

.footer .nav>li>a:hover, .footer .nav>li>a:focus {
	background-color:transparent;
}
.footer .nav{
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  text-align: center;
}
.footer .nav li{
	line-height: 32px;
}
.footer .nav li + li:before {
  content: "|";
  color: #ddd;
}
.footer .nav li > a {
  display: inline;
  padding: 0 15px;
}

@media (max-width: 767px) {
	.footer .nav li + li:before{
		content: "";
	}
}

