.field-images{position:relative;}
.field-images-progress{margin:5px 0;display:none;}
.field-images-list{margin:5px -5px;}
.field-images-list-item{width:50%;height:180px;float:left;cursor:move;}
.field-images-list-item.sortable-placeholder{border:dashed 1px #D0D0D0;background-color:#fffdd7;}
.field-images-list-item.sortable-helper{background-color:#fffdd7;z-index:1000;}

.field-images-list-item .thumbnail{margin:5px;}
.field-images-list-item .image-preview{height:80px;line-height:80px;overflow:hidden;text-align:center;background:#EFF5FB;border: 0 none;border-radius:4px;}
.field-images-list-item .image-preview img{max-width:100%;max-height:100%;width:auto;}
.field-images-list-item .form-control{margin-top:5px;border-color:#ddd;padding:5px;height:45px;font-size:12px;}
.field-images-list-item .image-manage{padding:5px;font-size:14px;}
.field-images-list-item .image-manage a{margin-left:15px;}

.field-images-list-empty{margin:5px;text-align: center;padding:100px 10px;background:#f7f7f7;}

@media (max-width: 768px){
	
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
	.field-images-list-item{width:25%;height:200px;}
	.field-images-list-item .image-preview{height:100px;line-height:100px;}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 1280px) {
	.field-images-list-item{width:20%;height:240px;}
	.field-images-list-item .image-preview{height:140px;line-height:140px;}
}

/* 大屏幕（大桌面显示器，大于等于 1366px） */
@media (min-width: 1400px) {
	.field-images-list-item{width:16.66666%;height:260px;}
	.field-images-list-item .image-preview{height:160px;line-height:160px;}
}