/*!
 * zotop global v3.1 (http://zotop.com)
 * Copyright 2008-2015 zotop team.
 */

/*覆盖及补充bootstrap默认样式*/
a{color:#0072c6;}
a:hover,a:focus{color:#0064ae;}
a.disabled,a[disabled]{cursor:not-allowed;color:#999;}

.container-default{padding:10px;background-color:#f7f7f7;}
.container-primary{padding:10px;background-color:#0072c6;color:#fff;}
.container-success{padding:10px;background-color:#00bc3e;color:#fff;}
.container-info{padding:10px;background-color:#ffffcc;color:#663300;}

.container-primary .jumbotron,.container-success .jumbotron{color:#fff;background:transparent;}

.text-primary,.text-pending{color:#0072c6;}
.text-success,.text-publish{color:#00bc3e;}
.text-error,.text-trash{color:#f00;}
.text-warning{color:#ffd740}

.text-overflow{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;}

.alert{margin-bottom:0;}

.badge{padding:3px 5px;font-weight:normal;}
.badge-danger{background-color:#f00;}
.badge-xs{height:15px;line-height:15px;font-family:arial;padding:0 4px;border-radius:15px;font-size:10px;font-style:normal;}



.dropdown-menu{border-radius:3px; padding:5px; box-shadow:3px 3px 0 rgba(12,12,12,0.03);}
.dropdown-menu > li > a{color:#0072c6;padding:7px 10px; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; -moz-transition:all 0.2s ease-out 0s; -webkit-transition:all 0.2s ease-out 0s; transition:all 0.2s ease-out 0s;}
.dropdown-menu > li > a:hover{background-color:#0064ae;color:#fff;}
.dropdown-menu .divider{margin:3px 0;}
.dropdown-menu .dropdown-header{font-size:16px;color:#333;padding:8px 10px;margin-bottom:3px;border-bottom:solid 1px #e5e5e5;}
.dropdown-menu .fa{margin-right:5px;}

.dropdown-menu.dropdown-caret:before{border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent; border-right: 7px solid transparent; content: ""; display: inline-block; left: 9px; position: absolute; top: -7px;}
.dropdown-menu.dropdown-caret:after{border-bottom: 6px solid #FFFFFF; border-left: 6px solid transparent; border-right: 6px solid transparent; content: ""; display: inline-block; left: 10px; position: absolute; top: -6px;}

@media (min-width:768px) {
	/*小屏幕上点击显示菜单，大屏幕鼠标放菜单上自动弹出*/
	.dropdown.hover>.dropdown-menu,.dropdown:hover>.dropdown-menu {
	    display:block;
	}
}

.breadcrumb{margin:0;}

.carousel-indicators{bottom:0;}
.carousel-control.left,.carousel-control.right{background:transparent;}
.carousel-control .icon-prev,.carousel-control .icon-next{font-size:80px;color:#fff;margin-top:-60px;}
@media screen and (min-width:768px){
	.carousel-indicators{bottom:0;}
}

.list-group{box-shadow:0 1px 1px #dcdcdc;}
.list-group-item{border:1px solid #e6e6e6;}


.thumbnail{margin-bottom:10px;}
.thumbnail img{width:100%;}

.pagination>li>a,.pagination>li>span{color:#0064ae;background-color:#fff;border:1px solid #efefef;}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{background-color:#0064ae;border-color:#0064ae;}

.tooltip{font-family:"Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;z-index:99999;}
.tooltip-inner{padding:8px 15px;font-size:13px;line-height:150%;text-align:left;max-width:100%;white-space: nowrap;}

.tooltip-error.top .tooltip-arrow{border-top-color:#ff0000;}
.tooltip-error.bottom .tooltip-arrow{border-bottom-color:#ff0000;}
.tooltip-error.left .tooltip-arrow{border-left-color:#ff0000;}
.tooltip-error.right .tooltip-arrow{border-right-color:#ff0000;}
.tooltip-error .tooltip-inner{background-color:#ff0000;max-width:100%;}
.tooltip-error .tooltip-inner:before{font-family:FontAwesome;content:'\f057';margin-right:5px;}

.tooltip-block{cursor:help;}
.tooltip-block-content{display:none;line-height:1.8;}
.tooltip-block-content img.preview{max-width:400px;max-height:300px;display:block;}

.popover{max-width:100%;}
.popover-content{padding:8px;}

.jumbotron{margin-bottom:0;}
.jumbotron .fa{vertical-align:text-bottom;}
.jumbotron p{margin-top:30px;line-height:30px;}

.well{background-color:#f9f9f9;border-color:#efefef;box-shadow:none; }

.table-responsive{border:0 none;}


.table{margin-bottom: 0;background: #fff;}
.table>caption{padding:10px 15px;background:#f3f3f3;font-size: 18px;}
.table>tbody>tr{-webkit-transition:background-color;-o-transition:background-color;transition:background-color;-webkit-transition-duration:300ms;transition-duration:300ms;}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{padding:15px;font-size:15px;border-top-width:0;border-bottom:1px solid #efefef;vertical-align:middle;}
.table>thead>tr>th,.table>thead>tr>td,.table>tfoot>tr>th,.table>tfoot>tr>td{background-color:#f3f3f3;padding:8px 15px;}

.table > tbody > tr.selected{background-color:#ECF9FF;}
.table > tbody > tr.disabled{background-color:#fafafa;cursor:not-allowed;color:#999;}
.table > tbody > tr.disabled img{opacity:0.2;}

.table > tbody > tr > td  .title{font-size:16px;}
.table > tbody > tr > td  .title>span{font-size: 14px;color: #666;font-weight: normal;}
.table > tbody > tr > td  .content{font-size:14px;margin-top:8px;margin-bottom: 8px;}
.table > tbody > tr > td  .description{font-size:12px;color:#999;margin-top:5px;}
.table > tbody > tr > td  .manage{font-size:13px;margin-top:8px;}
.table > tbody > tr > td  .manage s,.table > tbody > tr > td.manage s{color:#ddd;margin:0 3px;}
.table > tbody > tr > td.manage{font-size:13px;}
.table th.select,.table td.select{width:38px;text-align:center;}

.table > tbody > tr .hover-show{visibility:hidden;}
.table > tbody > tr:hover .hover-show{visibility:visible;}

.table-fixed{table-layout:fixed;}
.table-nowrap>thead>tr>th,.table-nowrap>tbody>tr>th,.table-nowrap>tfoot>tr>th,.table-nowrap>thead>tr>td,.table-nowrap>tbody>tr>td,.table-nowrap>tfoot>tr>td{white-space:nowrap;}
.table-nowrap p{white-space:normal;margin:0;font-size:14px;}
.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td {padding:8px;}

.table-control{border-radius:4px;}
.table-control>thead>tr>th,.table-control>tbody>tr>th,.table-control>tfoot>tr>th,.table-control>thead>tr>td,.table-control>tbody>tr>td,.table-control>tfoot>tr>td {padding:10px 15px;}
.table-control label{margin:0;}

.table-bordered,.table-border{border:1px solid #efefef;}
.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td{border:1px solid #efefef;}

.table-striped>tbody>tr:nth-of-type(odd) {background-color: #fff;}
.table-striped>tbody>tr:nth-of-type(even) {background-color: #f9f9f9;}

.table-hover>tbody>tr:hover{background-color:#FFFFDB;}

.sortable tbody tr.ui-sortable-placeholder{background-color:#ECF9FF;}
.sortable tbody tr.ui-sortable-helper{background-color:#fffdd7;z-index:1000;}
.sortable th.drag,.sortable td.drag{padding:0px;width:30px;background-image:url(../image/dragitem.png);background-position:center center;background-repeat:no-repeat;}
.sortable tbody td.drag{cursor:move;}


.btn{transition:all 0.2s ease-out 0s;}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{outline:0 none;}
.btn i{}
.btn b{margin-left:3px;font-weight:normal;}
.btn-icon{padding:6px 10px;}
.btn-primary{background-color:#0072c6;border-color:#0064ae;}
.btn-primary:hover,.btn-primary.hover,.btn-primary:focus,.btn-primary.focus{background-color:#2196F3;border-color:#0072c6;}

.btn-toolbar .btn{padding:4px 10px;}
.btn-toolbar-top{margin-bottom:5px;}
.btn-toolbar-bottom{margin-top:5px;}

/*checkbox radio*/
input[type=checkbox],input[type=radio]{border:1px solid #bbb;border:0 none\0;border-radius:3px;background:#fff;color:#555;clear:none;cursor:pointer;display:inline-block;line-height:0;height:16px;width:16px;min-width:16px;margin:-3px 3px 0 0;outline:0;padding:0!important;text-align:center;vertical-align:middle;-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-webkit-transition:.05s border-color ease-in-out;transition:.05s border-color ease-in-out}
input[type=radio]{-webkit-border-radius:50%;border-radius:50%;margin-2px 2px 0 0;line-height:10px}
input[type=checkbox]:checked{background:#0072c6;border:solid 1px #0072c6;}
input[type=checkbox]:checked:before,input[type=radio]:checked:before{float:left;display:inline-block;vertical-align:middle;width:16px;font:normal 12px/1 FontAwesome;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
input[type=checkbox]:checked:before{content:'\f00c';margin:1px 0 0 -1px;color:#fff;}
input[type=radio]:checked{border-color: #0072c6;}
input[type=radio]:checked:before{content:'\2022';text-indent:-9999px;-webkit-border-radius:50px;border-radius:50px;font-size:24px;width:6px;height:6px;margin:4px;line-height:16px;background-color:#0072c6;}
input[type=checkbox]:disabled,input[type=radio]:disabled{border-color:#d8d8d8;background-color:#ebebeb;}
input[type=checkbox]:disabled:checked:before,input[type=radio]:disabled:checked:before{color:#ccc;}
input[type=checkbox]:checked+span,input[type=radio]:checked+span{color:#0072c6;}

input,button,select,textarea,input:focus,button:focus,select:focus,textarea:focus{outline:0 none !important;}
textarea{resize:none;}

label[for]{cursor:pointer;}

.form-title{padding:10px 0;font-size:18px;margin-bottom:10px;border-bottom: 1px solid #efefef;}
.form-group{margin-bottom:0;padding:10px 0;}
.help-block{font-size:12px;margin-bottom:0;clear:both;}

.form-horizontal .form-checkbox,.form-horizontal .form-radio{margin-top:7px;}
.form-checkbox label,.form-radio label{margin-right:10px;font-weight:normal;cursor:pointer;}

.form-control.error{border-color: #f00;-webkit-box-shadow: inset 0 1px 1px rgba(255,0,0,.075);box-shadow: inset 0 1px 1px rgba(255,0,0,.075);}
.form-control.editor{height:auto;padding:0;border:0 none;}

.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-left:0;border-right:0;}


.form-captcha{position:relative;}
.form-captcha img{height:28px;vertical-align:middle;}
.form-captcha a{position:absolute;top:3px;right:5px;z-index:3;width:auto;white-space:nowrap;vertical-align:middle;}

/*input-group-merge*/
.input-group-merge {border:1px solid #ccc;background:#fff;border-radius:4px;}
.input-group-merge .form-control,.input-group-merge .input-group-addon{border:0 none;background:transparent;-webkit-box-shadow:none;box-shadow:none;}
.input-group-merge .form-control:focus{-webkit-box-shadow:none;box-shadow:none;border:0 none;outline:0 none;display:table-cell !important;}
.input-group-merge .fa{color:#0072C6;}

@media (min-width:768px){
    .form-horizontal .form-title{padding:10px 15px;margin-left:-10px;margin-right:-10px;margin-bottom:5px;background:#f3f3f3;}    
    .form-horizontal .form-group{border-bottom:1px solid #efefef;}
    .form-horizontal .control-label {text-align:left;padding-left:20px;}
    .form-horizontal label[for]{font-weight:normal;margin-bottom:0;}
}

/*panel*/
.panel{position:relative;margin-bottom:0;border:1px solid #efefef;border-radius:4px;background-color:#fff;box-shadow:0 none;}
.panel-heading{padding:15px; background-color:#f9f9f9; border-bottom:1px solid #efefef;}
.panel-heading > h2 {font-size:18px;margin:0;}
.panel-heading > small{display:block;margin-top:8px;color:#999;line-height:160%;}
.panel-footer{padding:10px 15px; background-color:#f9f9f9; border-top:1px solid #efefef;}
.panel-body{padding:15px;}
.panel .table:last-child{margin-bottom:0;}

/*shortcut*/
.shortcut{border:1px solid transparent;color:#666;background:transparent;margin:6px;padding:6px;display:block;overflow:hidden;zoom:1;border-radius:4px;position:relative;text-align:left;}
.shortcut:hover{border:1px solid #70c0e7;background:#e5f3fb;text-decoration:none;}
.shortcut-icon {}
.shortcut-icon img{width:48px;height:48px;}
.shortcut-text {position:absolute;top:0px;left:64px;right:0;}
.shortcut-text h2{font-size: 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;margin:7px 0 3px 0;}
.shortcut-text p{font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;margin:0}
.shortcut-badge {position:absolute;right:8px;top:10px;}
.shortcut-badge a{color:#fff;}

/*sidebar nav*/
.nav-side{margin-bottom:30px;}
.nav-side > li > a{padding:6px 15px;border-radius:0;}
.nav-side > li > a:hover,
.nav-side > li > a:active,
.nav-side > li > a:focus{background-color:#ECF9FF;}
.nav-side > li.divider{margin:5px 0;}
.nav-side > li.nav-parent > a{background:transparent url(../images/plus-white.png) no-repeat 92% center;}
.nav-side > li.nav-parent > a:focus{background-color:none; color:#8F939E; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;}
.nav-side > li.nav-parent > a:hover,
.nav-side > li.nav-parent > a:active{color:#1d2939; background-color:#fff; background-image:url(../images/plus.png);}
.nav-side > li.nav-active > a{background-color:#fff; background-image:url(../images/minus.png); color:#1d2939; -moz-box-shadow:0 3px 0 rgba(0,0,0,0.2); -webkit-box-shadow:0 3px 0 rgba(0,0,0,0.2); box-shadow:0 3px 0 rgba(0,0,0,0.2);}
.nav-side > li.nav-active > a:hover{background-image:url(../images/minus.png); background-repeat:no-repeat;}
.nav-side > li.nav-active > a:focus{color:#1d2939;}
.nav-side > li.active > a,
.nav-side > li.active > a:hover,
.nav-side > li.active > a:focus{background-color:#0072c6; color:#fff;}
.nav-side > li.active > a{background-color:#0072c6;}
.nav-side > li.active > a:before{top:12px;right:0;border:8px solid transparent;border-right-color:#fff;content:"";height:0;width:0;position:absolute;pointer-events:none;z-index:1001}
.nav-side > li.nav-parent.active > a{background-image:url(../images/plus.png);}
.nav-side > li.nav-active.active > a{background-image:url(../images/minus.png);}
.nav-side > li.nav-active.active > a:hover{background-image:url(../images/minus.png);}
.nav-side > li > a > .badge{margin-top:2px;}
.nav-side .fa{margin-right:6px; width:16px; text-align:center;}
.nav-side .children{list-style:none; display:none; margin:5px 0; padding:0;}
.nav-side .children > li > a{color:#94989d; font-size:13px; display:block; padding:5px 0 5px 27px; -moz-transition:all 0.2s ease-out 0s; -webkit-transition:all 0.2s ease-out 0s; transition:all 0.2s ease-out 0s;}
.nav-side .children > li > a > span{margin-top:2px;}
.nav-side .children > li > a:hover,
.nav-side .children > li > a:active,
.nav-side .children > li > a:focus{text-decoration:none; color:#1caf9a;}
.nav-side .children > li .fa{font-size:12px; opacity:0.5; margin-right:5px; text-align:left; width:auto; vertical-align:baseline;}
.nav-side .children > li.active > a{color:#1caf9a;}
.nav-side .children ul{margin-left:12px; border:0;}

/*icon override*/
.fa-all:before{content:'\f10c';}
.fa-publish:before{content:'\f058';}
.fa-pending:before{content:'\f252';}

.fa-video:before{content:'\f03d';}
.fa-audio:before{content:'\f028';}
.fa-doc:before,.fa-docx:before,.fa-wps:before{content:'\f1c2';}
.fa-xls:before,.fa-xlsx:before{content:'\f1c3';}
.fa-rar:before,.fa-zip:before,.fa-7z:before{content:'\f1c6';}
.fa-txt:before,.fa-css:before,.fa-js:before,.fa-html:before,.fa-htm:before,.fa-php:before{content:'\f15c';}

/*.fa-spinner{background:url(../image/loading.gif) no-repeat center center;}*/


/*导航条样式*/
.scrollable{overflow:auto;outline:none;}
.nicescroll-cursors{width:8px!important;background:#0072c6!important;opacity:0.9;}

::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece{background:-webkit-gradient(linear,left);width:8px;height:8px;}
::-webkit-scrollbar-thumb{border-width:0 1px;border-style:solid;border-color:#fefefe;border-radius:4px;background:#8a8a8a;}
::-webkit-scrollbar-thumb:horizontal{border-width:1px 0;border-style:solid;border-color:#fefefe;border-radius:4px;background:#d9d9d9;}
::-webkit-scrollbar-thumb:hover{background:#bdbdbd;}
::-webkit-scrollbar-thumb:active{background:#8e8e8e;}

::selection {background:#0072C6;color:#fff;}

/*页面样式*/
html{height:100%;overflow:hidden;}
body{font-family:"Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;line-height:180%;padding-top:50px;width:100%;height:100%;overflow:hidden;}

.hide{display: none;}
.show{display: block;}
.blank{zoom:1;clear:both;display:block;height:15px;overflow:hidden;}
.divider{height:1px;margin:9px 0;overflow: hidden;background-color: #e5e5e5;}
.new{font-size:12px;color:#f00;}
.placeholder {color:gray;}
.middle{display:table-cell;vertical-align:middle;}
.noshadow {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.fixed-top{position:fixed;top:0;left:0;right:0;}
.fixed-bottom{position:fixed;bottom:0;left:0;right:0;}
.pull-center{float:none !important;margin-left:auto !important;margin-right:auto !important;display:inline-block;}




.va-t{vertical-align:top !important;}
.va-m{vertical-align:middle !important;}
.va-b{vertical-align:bottom !important;}

.m0 {margin:0!important;}
.p0 {padding:0!important;}

label.error{font-size:12px;margin-top:5px;color:#ff0000;display:none;}
label.error:empty{display:none;}

label.required:after{content:'*';font-size:14px;color:#f00;margin-left:5px;font-weight:bold;}

.global-header{position:fixed;top:0;left:0;right:0;z-index:100;background-color:#0072c6;box-shadow:0 1px rgba(255,255,255,0.1);}
.global-navbar{float:left;}
.global-navbar > li{float:left;}
.global-navbar > li > a{position:relative;display:block;max-width:150px;padding:15px;line-height:20px;color:#fff;font-size:15px;transition:all 0.2s ease-out 0s;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.global-navbar > li > a:hover,.global-navbar > li > a:focus{background-color:#0064ae;outline:0 none;}
.global-navbar > .active > a,.global-navbar > .active > a:hover,.global-navbar > .active >a:focus {background-color:#00BCF2;}
.global-navbar > .open > a,.global-navbar > .open > a:hover,.global-navbar > .open > a:focus {background-color:#0064ae;}
.global-navbar > .brand > a{background-image:url(../image/logo.png);background-repeat:no-repeat;background-position:center left;width:50px;height:50px;padding:0;text-indent:-500px;}

.global-navbar > li > a > .badge{position:absolute;right:2px;top:8px;}

.global-navbar .dropdown-menu{border:solid 2px #0064ae;border-top:0 none;margin-top:0;border-top-left-radius:0;border-top-right-radius:0;}
.global-navbar .dropdown-menu:before{position:absolute; top:-7px; left:19px; display:inline-block; border-right:7px solid transparent; border-bottom:7px solid #ccc; border-left:7px solid transparent; border-bottom-color:rgba(0,0,0,0.2); content:'';}
.global-navbar .dropdown-menu:after{position:absolute; top:-6px; left:20px; display:inline-block; border-right:6px solid transparent; border-bottom:6px solid #fff; border-left:6px solid transparent; content:'';}
.global-navbar .dropdown-menu-right:before{left:auto;right:14px;}
.global-navbar .dropdown-menu-right:after{left:auto;right:15px;}
.global-navbar.pull-right > li > a{font-size:14px;}

.global-body{height:100%;position:relative;zoom:1;}

.global-footer{display:none;}

.global-progress{position:fixed;top:50%;left:20%;width:60%;z-index:9999;border:solid 1px #ccc;}

.copyright{line-height:20px;width:100%;padding:10px;}
.copyright-thanks{float:left;}
.copyright-powered{float:right;}

@media (max-width:768px) {
	.copyright-thanks{display:none;}
	.copyright-powered{float:none;text-align:center;}
    .gloabl-navbar>li>a{padding:15px 8px;}
}

/* 侧边区域 side*/
.side{color:#666;width:220px;position:fixed;top:50px;left:0;bottom:0;background:#f6fafd;}
.side:after{content:'';display:block;position:absolute;top:0;bottom:0;right:0;width:3px;border-right:1px solid #efefef;/*box-shadow:-5px 5px 5px -5px rgba(0,0,0,0.1) inset;*/z-index:-1;}
.side-header{vertical-align:middle;text-align:left;position:relative;clear:both;z-index:1;border-bottom:1px solid transparent;height:60px;padding:20px;line-height:20px;font-size:24px;}
.side-header > .action{float:right;margin:10px 15px 0 5px;line-height:20px;}
.side-header > .action a{font-size:16px;}
.side-body{position:absolute;top:61px;right:0;left:0;bottom:0;}

/*主区域 无侧边 */
.main{margin:0;height:100%;position:relative;}
.main-header{vertical-align:middle;text-align:center;position:relative;clear:both;border-bottom:1px solid #efefef;background-color:#fff;height:60px;padding:5px 10px;}

.main-header .goback{float:left;display:block;font-size:28px;margin:10px 10px 10px 0; line-height:20px;}
.main-header .goback a{text-decoration:none;min-width:28px;display:block;border-radius: 50%;}
.main-header .goback a:hover{background: #ebebeb;}
.main-header .goback span{display: none;}

.main-header .title{float:left;font-size:21px;font-weight:normal;padding:15px 5px;line-height:20px;margin-right: 10px;}
.main-header .description{float:left;font-size:15px;color:#666;}
.main-header .action{float:right;}

.main-header .breadcrumb{float:left;font-size:16px;font-weight:normal;padding:15px 5px;line-height:20px;background:transparent;}
.main-header .breadcrumb>li+li:before{font-family:FontAwesome;content:"\f105";padding-right:7px;}
.main-header .breadcrumb>li.back+li:before{content:"|";}
.main-header .breadcrumb>li>a:hover{text-decoration:none;}
.main-header .breadcrumb>li>a>i{margin-right:2px;}

.main-header .btn{margin:8px 4px;}
.main-header .btn-group{margin:8px 4px;}
.main-header .btn-group>.btn{margin:0;}

.main-header .nav-tabs{border:0 none;margin:12px;position:relative;float:left;}
.main-header .nav-tabs>li{margin-bottom:0;margin-left:10px;}
.main-header .nav-tabs>li>a{padding:3px 0;font-size:15px;border:0 none;border-bottom:solid 2px transparent;}
.main-header .nav-tabs>li>a:hover,.main-header .nav-tabs>li>a:focus{border-bottom:solid 2px #ff6600;background:transparent;}
.main-header .nav-tabs>li.active>a,.main-header .nav-tabs>li.active>a:hover,.main-header .nav-tabs>li.active>a:focus{border:0 none;background:transparent;color:#ff6600;border-bottom:solid 2px #ff6600;}
.main-header .nav-tabs>li>a>.badge{position: absolute;top:-5px;right:-8px;opacity:0.8;}

.main-header .searchbar{float:right;margin:8px 0;width:220px;}
.main-header .searchbar .btn{margin:0;}

.main-body{}

.main-footer{vertical-align:middle;text-align:left;position:relative;clear:both;z-index:1;height:44px;overflow:hidden;border-top:1px solid #efefef;/*background:#F3FAFF;*/background:#fff;padding:0 10px;}
.main-footer .select-all{margin:0 5px;vertical-align:middle;}
.main-footer .footer-text{float:left;margin:10px 5px;line-height:25px;white-space:nowrap;}
.main-footer .pagination{margin:5px;float:right;}
.main-footer .btn{margin:5px 0 5px 5px;}


/*固定头部尾部 */
.main .main-body{position:absolute;top:60px;right:0;left:0;bottom:45px;}
.main .main-footer{position:absolute;bottom:0;left:0;right:0;z-index:1;}

/*无头或者无尾部*/
.main.no-header .main-body{top:0;}
.main.no-footer .main-body{bottom:0;}
.main.no-header .main-header,.main.no-footer .main-footer{display:none;}

/*主区域 左侧边 */
.main.side-main{margin-left:220px;}

/*主区域 右侧边 */
.main.main-side{right:255px;left:10px;margin-right:0;}
.side.main-side{width:245px;left:auto;right:0px;float:right;border:0 none;}

@media (max-width:768px) {
    .side{width:50px;z-index:1028;}
    .side-header{display:none;}
    .side-body{top:0;overflow: visible!important;}
    .nav-side>li>a>.fa{margin:0;}
    .nav-side>li.active>a:before{display: none;}
    .nav-side>li>a>span{
    	position: absolute;
	    left: 50px;
	    top: 0px;
	    z-index: 9999;
	    white-space: nowrap;
	    width: auto;
	    height: 100%;
	    font-size: 14px;
	    padding:6px 15px;
	    background-color: #ECF9FF;
	    display: none;
	}
	.nav-side>li:hover>a>span{
		display: block;
	}
    .main.side-main{margin-left:50px;}
}

/*css3 动画*/
@-webkit-keyframes flash{0%,50%,100%{opacity:1;}25%,75%{opacity:0;}}
@-moz-keyframes flash{0%,50%,100%{opacity:1;}25%,75%{opacity:0;}}

.a-flash{-webkit-animation:flash 1s .5s infinite ease both;-moz-animation:flash 1s .2s infinite ease both;}


/*dialog*/
.body-dialog{padding:0;}
.body-dialog .form{margin:20px;}
.body-dialog .side{top:0;width:200px;}
.body-dialog .main.side-main{margin-left:200px;}

/* system-login-index */
.system-login-index{background:#fff url(../image/wallpaper.jpg) no-repeat bottom center;padding:0;background-size:100% 100%;}
.system-login-index .navbar a{color:#fff;}
.system-login-index .navbar a:hover{background:transparent;}
.system-login-index .global-header{box-shadow:none;background:transparent;}
.system-login-index .global-body{top:0;}
.system-login-index .copyright{color:#fff;}
.system-login-index .copyright a{color:#fff;}

.panel-login{width:600px;padding:4px;margin:-220px 0 0 -300px;background:#fff;background:rgba(255,255,255,0.8);box-shadow:0 0 10px rgba(0,0,0,0.2);border:0 none;-webkit-backface-visibility:hidden;-webkit-transition:-webkit-transform 0.4s ease;position:absolute;top:50%;left:50%;z-index:999;}
.panel-login .panel-heading{background-color:#0072c6;color:#fff;border:0 none;}
.panel-login .panel-heading h1{margin:50px auto;font-size:40px;}
.panel-login .panel-body{padding:15px 30px;}
.panel-login .form-status{margin-bottom:10px;}

@media (max-width:768px) {
	.system-login-index{background:#fff;padding:0;}
	.system-login-index .global-footer{text-align:center;}
    .system-login-index .copyright{color:#666;}
    .system-login-index .copyright a{color:#666;}
	.panel-login{width:100%;margin:0;padding:0;top:0;left:0;border-radius:0;box-shadow:none;background:transparent;}
	.panel-login .panel-heading{border-radius:0;padding-top:150px;background:#0072c6 url(../image/logo-big.png) no-repeat center 30px;}
    .panel-login .panel-heading h1{margin:30px auto;font-size: 32px;}
}

/* nodata */

.nodata{text-align:center;color:#999;position:absolute;top:50%;left:0;right:0;margin-top:-80px;z-index:999;font-size:25px;}
.nodata:before{font-family:fontawesome;content:'\f119';display:block;font-size: 150px;height:120px;}
.nodata>.btn{margin-top:-6px;}
/* notsupport */
.notsupport{position:absolute;top:0;z-index:99999;width:100%;height:100%;text-align:center;clear:both;color:#fff;background:#0072C6;}
.notsupport h1{font-size:100px;margin-top:200px;margin-bottom:30px;}
.notsupport h2{font-size:30px;margin-bottom:30px;}
.notsupport a,.notsupport a:hover{background:#0CF;color:#fff;margin:0 5px;padding:12px 24px;white-space:nowrap;text-decoration:none;}