/*
  global.dlalog css 
    
  @author   zotop team
  @created  2012-10-25
  @version  1.0
  @site     http://zotop.com  
*/

.side{width:150px;}
.main{left:0;right:0;}
.main.side-main{left:160px;}

.main-header{}
.main-header div.action{margin-right:5px;}
.main-header div.position{margin:12px 0 0 10px;}

table.field{margin:15px 0;}
table.field td.label{width:100px;padding-left:20px;}

input.text,textarea.textarea{width:360px;}
input.tiny{width:120px;}
input.short,input.date,input.datetime{width:180px;}
input.medium,textarea.medium{width:320px;}
input.date,input.datetime{width:180px;}
select.select{width:352px;}
textarea.editor{width:90%;}

ul.sidenavlist li a.current{background:#0072C6;color:#fff;}
ul.sidenavlist li a.current i.icon{color:#fff;}