@charset "utf-8";
/*
 全局样式表
 
 Author:zotop team
 CretaeDate:2012-10-27
 Description:全局样式表
 */

html{color:#000;background:#fff;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin:0;padding:0;}
table{border-spacing:0;width:100%;border:0 none;border-spacing:0;}
fieldset,img{border:0;}
address, caption, cite, code, dfn, em, strong, th, var{font-style:normal;font-weight:normal;}
ol, ul{list-style:none;}
caption, th{text-align:left;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:"";}
abbr, acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;outline:0;resize:none;}
legend{color:#000;}


/* 全局样式 */
html{height:100%;overflow:hidden;background:#fff;color:#222;}
body{height:100%;border:0;font:14px/1.5 "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial;-moz-user-select:-moz-none;}

/* 滚动条样式 */
.scrollable{overflow:auto;outline:none;}

::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece{background:-webkit-gradient(linear,left);width:9px;height:9px;}
::-webkit-scrollbar-thumb{border-width:0 1px;border-style:solid;border-color:#fefefe;border-radius:4px;background:#d9d9d9;}
::-webkit-scrollbar-thumb:horizontal{border-width:1px 0;border-style:solid;border-color:#fefefe;border-radius:4px;background:#d9d9d9;}
::-webkit-scrollbar-thumb:hover{background:#bdbdbd;}
::-webkit-scrollbar-thumb:active{background:#8e8e8e;}

/* 常用样式 */
a{text-decoration:none;color:#0072C6;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#0064ae;}

hr{height:1px;border:none;border-top:1px solid #ebebeb;padding:0;margin:4px 0;}

h1{font-size:32px;}
h2{font-size:24px;}
h3{font-size:16px;}

.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.f22{font-size:22px}
.f24{font-size:24px}
.f26{font-size:24px}
.f28{font-size:28px}
.f30{font-size:30px}
.f32{font-size:32px}
.f36{font-size:36px}
.f48{font-size:48px}
.f64{font-size:64px}


.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w120{width:120px;}
.w140{width:140px;}
.w160{width:160px;}
.w180{width:180px;}
.w200{width:200px;}
.w220{width:220px;}
.w240{width:240px;}
.w260{width:260px;}
.w280{width:280px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w450{width:450px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}

.left{text-align:left;}
.right{text-align:right;}
.center{text-align:center;}
.fr{float:right;}
.fl{float:left;}
.vt{vertical-align:top;}
.vm{vertical-align:middle;}

.clear{clear:both;}
.clearfix{*zoom:1;}
.clearfix:after{display:block;content:"clear";height:0;clear:both;overflow:hidden;visibility:hidden;}

.textflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;}
.inline-block{ display:-moz-inline-box;display:inline-block;zoom:1;*display:inline;}
.inline{display:inline;}
.none{display:none;}
.hidden{visibility:hidden}
.block{display:block;}
.nowrap{white-space:nowrap;}
.icon{color:#0072C6;}
.pointer{cursor:pointer;}

.red{color:red;}
.blue{color:blue;}
.green{color:#6B0;}
.gray{color:gray;}
.yellow{color:#f60;}

.alert,.warning{color:#ff9900;}
.success,.publish,.true{color:#66bb00;}
.error{color:#ff0000;}
.disabled,.disabled:hover,.false{color:gray;}
.placeholder{color:gray;}
.highlight{color:#00bcf2;}

.blank{zoom:1;clear:both;display:block;height:5px;overflow:hidden;}
.tips{color:#663300;}
.nowrap{white-space:nowrap;}
.pointer{cursor:pointer;}
.nodata{text-align:center;font-size:20px;color:#999;position:absolute;top:50%;bottom:0px;right: 0;left: 0;margin-top: -100px;}
.noborder{border:0 none;}

/*内容显示*/
.content-header{padding:20px;background: #E5F3FB;position: relative;}
.content-title{font-size: 20px;padding:10px 0;}
.content-body{margin:20px;line-height: 30px;font-size: 16px;}
.content-body p{margin:5px 0;}
.content-body img{max-width: 100%;}

.image-preview{background:#fff;border:solid 1px #D0D0D0;display:inline-block;line-height:0;vertical-align:middle;}
.image-preview .thumb {display:table-cell;vertical-align:middle;text-align:center;width:120px;height:120px;background:#eee;}
.image-preview .thumb img {vertical-align:middle;max-width:100%;max-height:100%;}
.image-none .thumb{background:url(../image/image-none.png) no-repeat center center;}
.image-none .thumb img{display:none;}

.progressbar{border:solid 1px #e8e8e8;border-radius:5px;position:relative;height:30px;line-height:30px;}
.progressbar .progress{display:block;width:0;height:100%;overflow:hidden;background-color:#5CB85C;background-image:linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,rgba(0, 0, 0, 0) 25%,rgba(0, 0, 0, 0) 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,rgba(0, 0, 0, 0) 75%,rgba(0, 0, 0, 0));animation:progressbar 2s linear infinite;-webkit-animation:progressbar 2s linear infinite;}
.progressbar .percent{color:#fff;padding:0 5px;font-size:12px;position:absolute;top:0;left:0;}

.dropbox{}
.dropbox.dragover{background:#ffffcc;}
.dropbox .undragdrop{display:none;}
.dropbox .dragdrop{display:inline-block;color:#333;font-weight:normal;}

.tooltip {position:absolute;z-index:1002;display:block;visibility:visible;font-size:14px;line-height:1.6;opacity:0;word-wrap: break-word;}
.tooltip.in {opacity:1;}
.tooltip.top {margin-top:-3px;padding:5px 0;}
.tooltip.right {margin-left:3px;padding:0 5px;}
.tooltip.bottom {margin-top:3px;padding:5px 0;}
.tooltip.left {margin-left:-3px;padding:0 5px;}
.tooltip-inner {/*max-width:500px;*/padding:5px;color:#663300;text-align:left;text-decoration:none;background-color:#ffffcc;border-radius:4px;border:solid 1px #ffcc66;}
.tooltip-arrow,.tooltip-arrow:after{position:absolute;width:0;height:0;border-color:transparent;border-style:solid;}
.tooltip-arrow{border-width:5px}
.tooltip-arrow:after{border-width:5px;content:""}
.tooltip.top .tooltip-arrow {bottom:0;left:50%;margin-left:-5px;border-bottom-width:0;border-top-color:#ffcc66;}
.tooltip.top .tooltip-arrow:after{bottom:1px;margin-left:-5px;border-bottom-width:0;border-top-color:#ffffcc;}
.tooltip.right .tooltip-arrow {top:50%;left:0;margin-top:-5px;border-left-width:0;border-right-color:#ffcc66;}
.tooltip.right .tooltip-arrow:after{bottom:-5px;left:1px;border-left-width:0;border-right-color:#ffffcc;}
.tooltip.left .tooltip-arrow {top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#ffcc66;}
.tooltip.left .tooltip-arrow:after{bottom:-5px;right:1px;border-right-width:0;border-left-color:#ffffcc;}
.tooltip.bottom .tooltip-arrow {top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#ffcc66;}
.tooltip.bottom .tooltip-arrow:after{top:1px;margin-left:-5px;border-top-width:0;border-bottom-color:#ffffcc;}

.tooltip-error{padding-left:22px;position: relative;color: red;}
.tooltip-error i.icon{position: absolute;top:5px;left:2px;color: red;margin: 0;}

.tooltip-block{color:#66bb00;cursor:help;}
.tooltip-block-content{display:none;line-height:1.8;}
.tooltip-block-content img.preview{max-width:400px;max-height:300px;display: block;}

.popover{position:absolute;top:0;left:0;z-index:1000;display:none;max-width:800px;padding:1px;text-align:left;white-space:normal;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);background-clip:padding-box;word-wrap: break-word;}
.popover.top{margin-top:-10px}
.popover.right{margin-left:10px}
.popover.bottom{margin-top:10px}
.popover.left{margin-left:-10px}
.popover-title{padding:5px;margin:0;font-size:14px;font-weight:normal;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}
.popover-content{padding:5px}
.popover .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.popover .arrow{border-width:11px}
.popover .arrow:after{border-width:10px;content:""}
.popover.top .arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,0.25);border-bottom-width:0}
.popover.top .arrow:after{bottom:1px;margin-left:-10px;border-top-color:#fff;border-bottom-width:0;content:" "}
.popover.right .arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#999;border-right-color:rgba(0,0,0,0.25);border-left-width:0}
.popover.right .arrow:after{bottom:-10px;left:1px;border-right-color:#fff;border-left-width:0;content:" "}
.popover.bottom .arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,0.25);border-top-width:0}
.popover.bottom .arrow:after{top:1px;margin-left:-10px;border-bottom-color:#fff;border-top-width:0;content:" "}
.popover.left .arrow{top:50%;right:-11px;margin-top:-11px;border-left-color:#999;border-left-color:rgba(0,0,0,0.25);border-right-width:0}
.popover.left .arrow:after{right:1px;bottom:-10px;border-left-color:#fff;border-right-width:0;content:" "}

.menu{display:inline-block;position:relative;text-indent:0;padding:0;}
.menu .dropmenu{display:none;position:absolute;top:99%;left:0px;z-index:9999;width:auto;border:solid 2px #0072C6;background:#fff;margin-top:-2px;border-radius:0 3px 3px 3px;}
.menu .dropmenu-right{left:auto;right:0;}
.menu .dropmenulist{min-width:120px;margin:2px;}
.menu .dropmenulist a{display:block;padding:6px;color:#0064ae;cursor:pointer;white-space:nowrap;}
.menu .dropmenulist i.icon{color:#0064ae;margin:-2px 5px 0 0;}
.menu .split{border-top:solid 1px #ebebeb;margin:6px 2px 0 2px;}
.menu:hover .dropmenu{display:block;}
.menu:hover .dropmenulist a:hover{background-color:#0072C6;color:#fff;}
.menu:hover .dropmenulist a:hover i.icon{color:#fff;}

.btn{display:inline-block;font-size:14px;line-height:24px;text-indent:0;padding:2px 12px;margin:0;text-align:center;cursor:pointer;outline:0 none;border-radius:2px;vertical-align:middle;font-family: inherit;font-weight: inherit;}
.btn{border:1px solid #d0d0d0;color:#666;background-color:#f7f7f7;}
.btn:hover,.btn:focus{color:#555;background-color:#fafafa;border:1px solid #b7b7b7;text-decoration: none;}

.btn i{color:#777;margin-top:-2px;}
.btn:hover i{color:#555;}

.btn-highlight{border-color:#3079ed;background-color:#4d90fe;color:#fff;}
.btn-highlight:hover,.btn-highlight:focus{border-color:#0064ae;background-color:#357ae8;color:#fff;}
.btn-highlight i,.btn-highlight:hover i{color:#fff}

.btn-primary{border-color:#5dba00;background-color:#7ddc1f;color:#fff;}
.btn-primary:hover, .btn-primary:focus{border-color:#418200;background-color:#7ddc1f;color:#fff;}
.btn-primary i,.btn-primary:hover i{color:#fff}

.btn-icon{padding:2px 8px;}

.btn-icon-text{padding:2px 10px;}
.btn-icon-text i{margin-right:5px;}
.btn-icon-text b{font-weight:normal;}

.btn-menu .dropmenulist {min-width:81px;}
.btn-menu .dropmenulist a{font-size:14px;padding:6px 5px;}
.btn-menu:hover .btn-highlight{background:#0072C6;border-bottom-right-radius:0;border-bottom-left-radius:0;}

.btn.disabled,.btn.disabled:hover,.btn.disabled:focus{cursor:default;color:#aaa;border:1px solid #e2e2e2;background:#eee;}


ul.sidenavlist{/*border-bottom:solid 1px #fafafa;*/}
ul.sidenavlist li{margin:1px 0;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:16px;position:relative;}
ul.sidenavlist li.blank{margin:3px 0;background:#ebebeb;}
ul.sidenavlist li.title{}
ul.sidenavlist li i.icon {margin:-2px 6px 0 0;}
ul.sidenavlist li a{display:block;border:0 none;overflow:hidden;padding:10px 8px;font-size:15px;}
ul.sidenavlist li a:hover{background:#f3f8ff;}
ul.sidenavlist li a.current{background:#e5f3fb;}
ul.sidenavlist li a.current:after{top:12px;right:0;border:8px solid transparent;border-right-color:#fff;content:"";height:0;width:0;position:absolute;pointer-events:none;z-index: 1001}

ul.sidenavlist li ul a{padding-left:36px;}
ul.sidenavlist li ul a:hover{background:transparent;color:#ff6600;}
ul.sidenavlist li ul a:hover i.icon{color:#ff6600;}
ul.sidenavlist li ul a.current{background:transparent;color:#ff6600;}
ul.sidenavlist li ul a.current i.icon{color:#ff6600;}
ul.sidenavlist li ul a.current:after{border:0 none;}

/*list*/
ul.list{list-style:circle inside;}
ul.list li{padding:8px 2px;font-size:14px;font-weight:normal;line-height:20px;border-bottom:solid 1px #ebebeb;position:relative;}
ul.list li a{font-size:14px;}
ul.list li.first{border:none;}
ul.list li span.extra{position:absolute;top:0px;right:2px;}
ul.list li span.extra a{color:#999;font-size:12px;}
ul.list2 li{float:left;	width:50%;}

/* navlist */
ul.navlist{margin:20px 15px;}
ul.navlist li{margin:5px 5px 5px 5px;width:24%;min-width:285px;float:left;position:relative;line-height:22px;}
ul.navlist li a.nav{padding:5px;display:block;clear:both;border:solid 1px #fff;color:#666;border-radius:3px;cursor:pointer;vertical-align:middle;}
ul.navlist li a.nav:hover{border:solid 1px #70c0e7;background:#e5f3fb;}
ul.navlist li a.nav img{float:left;width:48px;height:48px;margin-right:10px;}
ul.navlist li a.nav h2{position:absolute;top:3px;left:60px;right:5px;font-size:17px;font-weight:normal;}
ul.navlist li a.nav p{position:absolute;top:31px;left:60px;right:5px;text-decoration:none;font-size:13px;line-height:24px;color:#666;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
ul.navlist li b.msg{position:absolute;top:3px;right:3px;z-index:99;font:normal 12px/22px arial;background:#f00;color:#fff;padding:0 8px;border-radius:20px;}
ul.navlist li b.msg *{color:#fff;}

dl.list{}
dl.list dt{line-height:32px;font-size:18px;border-bottom:solid 1px #ebebeb;padding:6px;}
dl.list dt .icon{font-size:18px;width:18px;height:18px;margin-top:-4px;}
dl.list dt .description{font-size:12px;color:#666;display:inline;margin-left:8px;}
dl.list dd{line-height:24px;padding:3px 0;font-size:14px;}

/*box*/
div.box{margin:0px 8px;margin-bottom:8px;text-align:left;padding:0px;border:solid 0px #aac9ea;}
div.box .box-header{width:100%;height:27px;overflow:hidden;line-height:28px;padding:0px;border-bottom:solid 2px #aac9ea;position:relative;}
div.box .box-title{margin:0px;padding:0px;text-indent:5px;color:#555;color:#0066cc;font-size:12px;font-weight:bold;white-space:nowrap;}
div.box .box-title a{font-weight:bold;}
div.box .box-title span{margin:0px 5px;font-size:12px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;color:#666666;}
div.box .box-action{line-height:27px;height:27px;padding:0px 2px;text-align:right;font-size:12px;font-weight:normal;color:#999;float:right;}
div.box .box-action a{font-size:12px;font-weight:normal;margin:0px 3px;}
div.box .box-body{font-size:12px;line-height:25px;padding:0px;}
div.box .box-footer{clear:both;display:none;}
div.box.expanded .box-header i.ico{background-position:-38px -200px;*background-position:-38px -199px;}
div.box.collapsed .box-header i.ico{background-position:-6px -200px;*background-position:-6px -199px;}
div.box.collapsed .box-body{display:none;}

/*table*/
table.table{width:100%;}
table.table caption{text-align:left;line-height:24px;font-size:16px;color:#333;padding:8px;background:#f0f0f0;}
table.table tfoot td{font-size:12px;padding:5px;color:#666666;background:#f0f0f0;}
table.table tr{margin:0px;}
table.table tr.last td{background:transparent;}
table.table tr.disabled td{background:#f7f7f7;}
table.table td{line-height:22px;padding:8px;font-size:15px;border-bottom:solid 1px #e8e8e8;position:relative;}
table.table td.side{padding:3px 0px 3px 4px;width:80px;}
table.table i.icon{margin:-3px 0 0 0;}
table.table div.title{line-height:20px;padding:3px 0;font-size:16px;}
table.table div.title a{font-size:16px;}
table.table div.title span{color:#666;font-size:12px;margin-left:5px;}
table.table div.title i.icon{margin:-2px 0 0 6px;font-size: 14px;}
table.table div.manage{clear:both;white-space:nowrap;}
table.table div.manage a{font-size:13px;}
table.table div.manage s{display:inline-block;font-size:0;overflow:hidden;line-height:0;width:1px;height:12px;background:#CCC;margin:-2px 5px 0 5px;vertical-align:middle;}
table.table div.description,table.table span.description{color:#666;font-size:12px;}


table.zebra tbody tr.even{background:#fafafa;}
table.zebra tbody tr:nth-child(2n){background:#fafafa;}

table.list{width:100%;table-layout:fixed;}
table.list td{line-height:22px;padding:10px 6px;}
table.list thead tr{line-height:16px;background-color:#f0f0f0;border-bottom:solid 1px #e8e8e8;}
table.list tbody tr:hover{background-color:#f3f8ff;}
table.list tbody tr:hover .hidden{visibility:visible;}
table.list tbody tr.selected{background-color:#e5f3fb;}
table.list tbody tr.current{background-color:#e5f3fb;}
table.list thead tr td{white-space:nowrap;}
table.list tbody tr.nodata,table.list tbody tr.nodata td{background:transparent;border:0 none;}
table.list td.select,table.list th.select{width:25px;text-align:center;vertical-align:middle;}
table.list td.select input{margin:-2px 0 0 0;padding:0px;text-indent:0px;vertical-align:middle}
table.list th.manage,table.list td.manage{width:40px;text-align:center;white-space:nowrap;}
table.list th.manage a,table.list td.manage a{white-space:nowrap;text-align:center;}

table.sortable tbody tr.ui-sortable-placeholder{background-color:#ccf3fa;}
table.sortable tbody tr.ui-sortable-helper{background-color:#fffdd7;z-index:1000;}
table.sortable td.drag{padding:0px;width:30px;background:url(../image/dragitem.png) no-repeat center center;}
table.sortable tbody td.drag{cursor:move;}


table.border{border-top:solid 1px #e8e8e8;border-right:solid 1px #e8e8e8;}
table.border td{border-left:solid 1px #e8e8e8;}

table.auto{width:auto;}


/*form*/
table.field{width:100%;font-size:14px;}

table.field caption{text-align:left;line-height:24px;font-size:16px;color:#000;padding:6px 8px;background:#f0f0f0;}
table.field caption span.options{margin-left:5px;}
table.field caption span.options a{font-size:14px;margin-left:5px;border:solid 1px #ccc;padding:3px 5px;}
table.field caption span.options a.current{background:#fff;color:#ff6600;}

/*
table.field tbody tr{border-bottom:solid 1px #f7f7f7;}
table.field tbody tr:nth-child(2n){background:#fafafa;}
*/

table.field tbody td.label{width:12%;font-size:14px;line-height:18px;padding:14px 5px 10px 8px;vertical-align:top;white-space:nowrap;}
table.field tbody td.label label{font-size:15px;font-weight:normal;cursor:pointer;}
table.field tbody td.label b.required{color:#ff0000;font-size:12px;font-weight:normal;padding:0 3px;}
table.field tbody td.label i.icon{margin:-2px 0 0 3px;}
table.field tbody td.input{padding:8px 0px;position:relative;}
table.field tbody td.input .field-text{font-size:14px;line-height:30px;}
table.field tbody td.input .field-tips{font-size:12px;color:#666;line-height:28px;display:block;clear:both;}
table.field tbody td.input .field-tips b{padding:0px 5px;font-weight:normal;color:#ff0000;}
table.field tbody td.input .field-options{padding:5px 0;}

div.field{padding:6px 0px;line-height:30px;clear:both;}
div.field div.label{font-weight:normal;font-size:15px;padding:0 1px;}
div.field div.label b.required{color:#ff0000;font-size:12px;font-weight:normal;padding:0 3px;}
div.field div.label span.field-tips{font-size:12px;color:#666;}
div.field div.input{}
div.field div.input .field-tips{font-size:13px;color:#333;padding:3px 1px;display:block;clear:both;}

span.field{display:inline-block;_display:inline;zoom:1;height:26px;line-height:26px;font-size:14px;margin-right:5px;white-space:nowrap;}
span.field label{cursor:pointer;}
span.field input{vertical-align:middle;padding:0;margin:-2px 2px 0 0;outline:0;}

label.error{display:none;white-space:nowrap;font-size:12px;margin-left:5px;color:#ff0000;}

input.text,textarea.textarea,select.select{width:580px;padding:5px;height:18px;line-height:18px;font-size:14px;vertical-align:middle;outline:0;border:1px solid #d0d0d0;border-radius: 2px;}
input.disabled,textarea.disabled,select.disabled{background:#f7f7f7;}
input.readonly,textarea.readonly,select.readonly{background:#f3f3f3;color:#999;}
input.error,textarea.error,select.error{border:1px dotted red;}
input.long,textarea.long{wautoidth:640px;}
input.auto,textarea.auto,select.auto{width:90%;}

input.tiny{width:80px;}
input.short{width:160px;}
input.medium{width:320px;}

input.number{width:80px;}
input.upload{width:360px;border:1px solid #bdc7d8;vertical-align:middle;padding:5px;background:#fff;cursor:pointer;height:auto;}
input.date,input.datetime{width:180px;}
input.ruler{background-image:url(../image/ruler.jpg);background-repeat:repeat-x;background-position:bottom left;}
input.captcha{width:100px;margin-right:5px;}

textarea.textarea{height:50px;padding:5px;overflow:auto;resize:none;}
textarea.long{width:640px;height:240px;}
textarea.medium{width:360px;height:80px;}
textarea.short{width:180px;height:40px;}
textarea.tiny{height:30px;}

textarea.editor{visibility:hidden;}
textarea.full{height:360px;width:95%;min-width:680px;}
textarea.standard{width:680px;height:240px;}
textarea.basic{width:680px;height:120px;}

select.select{width:462px;padding:3px;height:auto;}
select.multiple{height:auto;}
select.tiny{width:132px;}
select.short{width:192px;}
select.medium{width:320px;}
select.long{width:640px;}

input[disabled],input[readonly],select[disabled],select[readonly],textarea[disabled],textarea[readonly]{cursor:not-allowed;background-color:#EEE;opacity: 1;}

input[type=checkbox],input[type=radio]{border:1px solid #bbb;border:0 none\0;background:#fff;color:#555;clear:none;cursor:pointer;display:inline-block;line-height:0;height:15px;width:15px;min-width:15px;margin:-3px 3px 0 0;outline:0;padding:0!important;text-align:center;vertical-align:middle;-webkit-appearance:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-webkit-transition:.05s border-color ease-in-out;transition:.05s border-color ease-in-out}
input[type=radio]:checked+label:before{color:#888}
input[type=radio]{-webkit-border-radius:50%;border-radius:50%;margin-2px 2px 0 0;line-height:10px}
input[type=checkbox]:checked:before,input[type=radio]:checked:before{float:left;display:inline-block;vertical-align:middle;width:16px;font:normal 12px/1 zotop;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
input[type=checkbox]:checked:before{content:'\e646';margin:1px 0 0 -1px;color:#00bcf2}
input[type=radio]:checked:before{content:'\2022';text-indent:-9999px;-webkit-border-radius:50px;border-radius:50px;font-size:22px;width:7px;height:7px;margin:3px;line-height:18px;background-color:#00bcf2}
input[type=checkbox].disabled:before,input[type=radio].disabled:before{color:#999;}

/* radios */
.radios{ display:inline-block; vertical-align:middle; *display:inline;border: solid 1px #d0d0d0;border-radius:2px;padding: 1px;}
.radios:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
.radios a.item{ display:inline-block; float:left; padding:3px 15px; height:20px; line-height:20px; border-left:1px solid #d4d4d4; vertical-align:middle; color:#333; font-size:100%; cursor:pointer; border-radius: 2px;}
.radios a.item0{border:0 none;}
.radios a.item:hover{ background:#e5f3fb; text-decoration:none; }
.radios a.item:active{ text-decoration:none; }
.radios a.item.selected{ background:#00BCF2;color:#fff;}

/* checkboxes */
.checkboxes{}
.checkboxes a.item{ float:left; position:relative; margin:0 8px 8px 0; line-height:20px; vertical-align:middle; display:block; padding:5px 10px; color:#666; min-width:10px; width:auto !important;  text-align:center; text-decoration:none; white-space:nowrap; border:1px solid #ccc; cursor:pointer;background:#f7f7f7;border-radius:2px;}
.checkboxes a.item.selected{color:#333; border:2px solid #00BCF2;padding: 4px 9px;background:#fff url(../image/checked.png) no-repeat scroll right bottom;}

/* multi-column */
.multi-column{border:0 none;}
.multi-column div{padding:3px 0;}
.multi-column label{cursor: pointer;margin-right: 5px;}

/* single-select */
.single-select{ position:relative; display:inline-block; margin-right:5px; vertical-align:middle; cursor:pointer; *float:left; }
.single-select a{ position:relative; display:block; padding:4px 40px 4px 10px; min-width:120px; line-height:20px; height:20px; text-decoration:none; background:#fff; white-space:nowrap; word-break:break-all; border:1px solid #d0d0d0;border-radius:2px;}
.single-select a span{ display:inline-block; color:#333; font-size:14px; }
.single-select a i{ position:absolute; right:10px; top:12px; width:0px;height:0px;font-size:0;line-height:0;border:6px solid;border-color:#ccc transparent transparent;}
.single-select a:hover i{border-color:#00BCF2 transparent transparent;}
.single-select div{ display:none; position:absolute; left:0; top:32px; /*overflow:hidden;*/ z-index: 9999;}
.single-select div ul{ position:relative; padding:5px; min-width:160px; max-height:280px; border:1px solid #d0d0d0; background:#fff; overflow-y:auto; overflow-x:hidden; }
.single-select div ul li{ display:block; padding:4px 10px; line-height:20px; font-size:14px; color:#666; white-space:nowrap; cursor:pointer; }
.single-select div ul li:hover{ color:#fff; text-decoration:none; background:#00BCF2; }
.single-select div ul li.selected{ color:#fff; background:#00BCF2;margin:1px 0;}



/* radio or checkbox container */
.controls label{font-size:14px;cursor:pointer;vertical-align:middle;white-space:nowrap;margin-right:5px;}
.controls label input{padding:0;margin:-3px 2px 0 0;outline:0;vertical-align:middle;}
.controls label span{font-size:13px;margin-left:5px;}
.controls label b{font-weight:normal;color:green;margin-left:3px;}

table.controls{margin:-2px 0 0 0px;width:auto;float:left;line-height:normal;clear:both;}
table.controls tr{background:transparent;border:0 none;}
table.controls td{background:transparent;padding:3px;vertical-align:middle;}

div.controls{font-size:14px;outline:0;border:1px solid #d0d0d0;border-radius:2px;box-shadow:1px 1px 1px #EEE inset;}

/* input-group */
div.input-group {display:inline-block;zoom:1;*display:inline;vertical-align:middle;outline:0;border:1px solid #d0d0d0;border-radius:2px;background:#f0f0f0;}
div.input-group .text {border:0 none;vertical-align:middle;border-radius: 0;}
div.input-group .number{width:50px;}
div.input-group .input-group-addon{zoom:1;font-size:14px;padding:0px 6px;vertical-align:middle;color:#555;}
div.input-group .input-group-addon i{margin-top: -2px;}

/* pagination */
div.pagination{margin-top:3px;float:right;font-size:15px;}        
div.pagination a{text-decoration:none;color:#0066cc;}
div.pagination a:hover{background:#f3f3f3;}
div.pagination a, div.pagination span{display:block;float:left;padding:0 5px;margin-right:3px;min-width:15px;text-align:center;border-radius:12px;}
div.pagination .current{background:#26B;color:#fff;}
div.pagination .current.first,div.pagination .current.prev, div.pagination .current.next,div.pagination .current.last{color:#999;background:transparent;}

/*icon*/
.icon{display:-moz-inline-box;-moz-box-align:center;display:inline-block;+display:inline;zoom:1;text-align:center;vertical-align:middle;}

i.icon-loading{height:12px;width:12px;background:url("../image/loading.gif") no-repeat center center;}
b.icon-loading{height:32px;width:32px;background:url("../image/loading-big.gif") no-repeat center center;}
i.icon-loading:before,b.icon-loading:before{content:'';}

/* 主区域 */
.global-header{background:#0072C6;height:50px;line-height:50px;min-width:980px;clear:both;z-index:1000;position:absolute;top:0;left:0;width:100%;}
.global-body{background:#fff;overflow:hidden;width:100%;position:absolute;top:50px;bottom:0px;_position:relative;_top:auto;_bottom:auto;_height:100%;}
.global-footer{display:none;}

.global-navbar{position:absolute;top:0px;left:0px;z-index:6666;color:#fff;line-height:50px;}
.global-navbar li{float:left;margin-right:1px;position:relative;}
.global-navbar li:hover {background:#0064ae;}
.global-navbar li.current{background:#0064ae;}
.global-navbar li i.icon{color:#fff;margin:-3px 0 0 0;}
.global-navbar li a{display:block;padding:0px 15px;cursor:pointer;color:#fff;text-decoration:none;font-size:16px;white-space:nowrap;}
.global-navbar li a.logo{display:block;text-indent:-9999px;padding:0px;width:120px;height:50px;display:block;outline:none;background:url(../image/logo-full.png) no-repeat 0px center;}
.global-navbar li b.msg{padding:2px 5px;font:normal 12px arial;text-align:center;color:#fff;border-radius:20px;}

/*
.global-navbar li.site{background:#00bcf2;}
.global-navbar li.site a{max-width:150px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
*/

.global-navbar li.menu .dropmenu{color:#333;border-top:0 none;margin-top: 0;border-radius:0 0 3px 3px;}
.global-navbar li.menu .dropmenu h2{font-size:15px;margin:0px 5px;color:#666;border-bottom:solid 1px #ebebeb;}
.global-navbar li.menu .dropmenu a{line-height:24px;}
.global-navbar li.menu .dropmenulist{min-width:150px;}
.global-navbar li.menu .dropmenulist a{display:block;padding:4px 10px 4px 6px;font-size: 14px;}
.global-navbar li.menu .dropmenulist i{margin-right: 6px;}
.global-navbar li.menu .dropmenulist .warning{color:red;}
.global-navbar li.menu .dropmenumsg{min-width:240px;}

.global-userbar{left:auto;right:0px;}
.global-userbar li a{font-size:14px;padding:0px 8px;}

/* 侧边区域 side*/
.side{color:#666;width:220px;position:absolute;height:100%;left:0;background:#f6fafd;}
.side:after{content:'';display:block;position:absolute;top:0;bottom:0;right:0;width:3px;box-shadow:-5px 5px 5px -5px rgba(0, 0, 0, 0.1) inset;z-index:1;}
.side-header{height:45px;line-height:45px;overflow:hidden;vertical-align:middle;text-align:left;text-indent:12px;font-size:22px;font-weight:normal;}
.side-header span{font-size:18px;}
.side-header div.action{float:right;margin:10px 15px 0 5px;line-height:20px;}
.side-header div.action a{font-size:16px;}
.side-body{overflow:auto;padding:0px;position:absolute;top:45px;right:0px;bottom:0px;left:0px;}

/*主区域 无侧边 */
.main{height:100%;overflow:auto;position:absolute;right:10px;left:10px;top:0;bottom:0;margin:0;overflow:hidden;}
.main-header{height:44px;vertical-align:middle;text-align:left;position:relative;clear:both;z-index:1;border-bottom:1px solid #e8e8e8;}
.main-header.noborder{border:0 none;}
.main-header div.title{float:left;font-size:22px;font-weight:normal;line-height:44px;padding:0;}
.main-header div.description{float:left;font-size:15px;color:#666;}
.main-header div.position{float:left;font-size:15px;color:#666;margin:13px 15px 0 15px;}
.main-header div.position a{float:left;font-size:15px;max-width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.main-header div.position s{float:left;margin:0 5px;text-decoration:none;color:#ccc;}
.main-header div.position i.icon{margin:-3px 0 0 0;}
.main-header div.action{float:right;line-height:20px;padding:7px 0;}

.main-header ul.navbar{float:left;margin:12px 0 0 15px;}
.main-header ul.navbar li{float:left;margin:0 6px;}
.main-header ul.navbar li:hover{border-bottom:solid 2px #f60;}
.main-header ul.navbar li.current{border-bottom:solid 2px #f60;}
.main-header ul.navbar li a{padding:0 0 3px 0;font-size:15px;cursor:pointer;text-decoration:none;}
.main-header ul.navbar li i.icon{margin:-4px 0 0 0;}
.main-header ul.navbar li i.msg{font-size:12px;font-style:normal;color:red;}

.main-header form.searchbar{float:right;margin:7px 0 0 5px;height:28px;line-height:28px;overflow:hidden;border:1px solid #bebebe;border-radius:3px;}
.main-header form.searchbar input{float:left;width:160px;font-size:12px;overflow:hidden;color:#000;margin:0;padding:6px;border:0px none;border-right:1px solid #BEBEBE;}
.main-header form.searchbar button{cursor:pointer;float:left;height:100%;margin:0;padding:0 6px;border:0 none;color:#666;background-color:#f7f7f7;background:-moz-linear-gradient(top,#fff,#e0e0e0);background:-webkit-linear-gradient(top,#fff,#e0e0e0);}

.main-body{padding:0;clear:both;position:absolute;top:45px;bottom:41px;left:0px;right:0;}
.main-body-title{position: relative;padding:15px;background:#e5f3fb;font-size:14px;}
.main-body-title h2{font-size:18px;}

.main-body-content{padding:15px;}

.main-footer{clear:both;padding:5px 0;line-height:24px;height:30px;overflow:hidden;vertical-align:middle;position:absolute;bottom:0px;left:0px;right:0px;z-index:1000;border-top:1px solid #e8e8e8;/*background:#F3FAFF;*/background:#fff;}
.main-footer.noborder{border:0 none;}
.main-footer .select-all{margin:0 10px;vertical-align:middle;}
.main-footer .tips{text-indent:0px;}

/*主区域 无头无尾 */
.main.scrollable{right:0;}
/*主区域 无头部 */
.main.no-header .main-body{top:0;}
.main.no-header .main-header{display:none;}
/*主区域 无底栏 */
.main.no-footer .main-body{bottom:0;}
.main.no-footer .main-footer{display:none;}
/*主区域 左侧边 */
.main.side-main{left:230px;right:10px;padding:0;margin:0;}
/*主区域 右侧边 */
.main.main-side{right:255px;left:10px;margin-right:0;}
.side.main-side{width:245px;left:auto;right:0px;float:right;border:0 none;}

/*css3 动画*/
.a-flash{-webkit-animation:flash 1s .5s infinite ease both;-moz-animation:flash 1s .2s infinite ease both;}
@-webkit-keyframes flash{0%,50%,100%{opacity: 1;}25%,75%{opacity: 0;}}
@-moz-keyframes flash{0%,50%,100%{opacity: 1;}25%,75%{opacity: 0;}}