/*
  ie6&ie7 css 
    
  @author   zotop team
  @created  2012-10-25
  @version  1.0
  @site     http://zotop.com  
*/
html{_padding:40px 0 0px;}

.scrollable{overflow-x:hidden;}

.btn{}

.btn-icon{margin:0px 5px 0 0;padding-top:4px;padding-bottom:0px;}
.btn-icon i.icon{margin-top:-1px;font-size:12px;}

.btn-icon-text{padding-top:4px;padding-bottom:0px;}
.btn-icon-text i.icon{margin-top:-1px;font-size:12px;}

.menu{display:inline;zoom:1;margin-right:5px;}

.main-header ul.navbar{margin-top:4px;}
.main-header form.searchbar button{padding:0px 1px;}




