/*!
 * zotop global v2.3.5 (http://zotop.com)
 * Copyright 2008-2015 zotop team.
 */
body {
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	font-size: 14px;
	line-height: 150%;
	padding-top: 50px;
}

@media (min-width: 768px) {
	.dropdown:hover>.dropdown-menu {
	    display: block;
	}
	.navbar .nav>li>.dropdown-menu:before {
	    position: absolute;
	    top: -7px;
	    left: 9px;
	    display: inline-block;
	    border-right: 7px solid transparent;
	    border-bottom: 7px solid #ccc;
	    border-left: 7px solid transparent;
	    border-bottom-color: rgba(0,0,0,0.2);
	    content: '';
	}
	.navbar .nav>li>.dropdown-menu:after {
	    position: absolute;
	    top: -6px;
	    left: 10px;
	    display: inline-block;
	    border-right: 6px solid transparent;
	    border-bottom: 6px solid #fff;
	    border-left: 6px solid transparent;
	    content: '';
	}
}

.navbar-inverse{
	background:#0072C6;
	border: 0 none;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover{
	background-color: #00BCF2;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #00BCF2;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #00BCF2;
}
.navbar-inverse .navbar-toggle{
    border-color: #fff;border:0 none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #00BCF2;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #0072C6;
}

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	    background-color: #0072C6;
	}	
	.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
	    color: #fff;
	}	
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	    color: #fff;
	}
}

.navbar-logo{
	padding-left:100px;
	background:url(../image/logo-full.png) no-repeat left center;
	text-indent: -1000px;
	overflow: hidden;
}

.footer{
	color: #777;
	padding: 10px 0;
	border-top: 1px solid #e5e5e5;
	margin-top: 70px;
}

.footer .nav>li>a:hover, .footer .nav>li>a:focus {
	background-color:transparent;
}
.footer .nav{
  float: none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  text-align: center;
}
.footer .nav li{
	line-height: 32px;
}
.footer .nav li + li:before {
  content: "|";
  color: #ddd;
}
.footer .nav li > a {
  display: inline;
  padding: 0 15px;
}

@media (max-width: 767px) {
	.footer .nav li + li:before{
		content: "";
	}
}

